@using Howler.Blazor.Components
@using Musicio.Client.Web.Invokables
@inject IHowl Howl
@inject IHowlGlobal HowlGlobal
@inject IJSRuntime JSRuntime

<progress id="music-progress" name="music-progress" value="@TimeStatus.ToString()" max="@TotalTime.ToString()" @onclick="ProgressClick"></progress>
@*<div class="progress-bar" aria-valuenow="@TimeStatus.ToString()" aria-valuemin="0" aria-valuemax="@TotalTime.ToString()" style="width:50%"></div>*@

@code {

    int TimeStatus { get; set; }

    int TotalTime { get; set; }

    public void SetTotalTime(int totalTime)
    {
        TotalTime = totalTime;

        StateHasChanged();
    }

    public void Refresh(int timeStatus)
    {
        TimeStatus = timeStatus;

        StateHasChanged();
    }

    async Task ProgressClick(MouseEventArgs e)
    {
        Element element = new Element("music-progress", JSRuntime);

        decimal offsetWidth = await element.GetOffsetWidth();
        decimal offsetLeft = await element.GetOffsetLeft();
        decimal x = (int) e.ClientX - offsetLeft;
        decimal newTimeDec = x / offsetWidth * TotalTime;

        TimeSpan newTime = TimeSpan.FromSeconds(Convert.ToInt32(newTimeDec));
        Console.WriteLine(newTime);

        await Howl.Seek(newTime);
    }
}
