@inherits LayoutComponentBase

<div class="main d-flex vh-100 flex-column">
    <div class="col flex-grow-1">
        <div class="container w-50 h-auto mt-5">
            @Body
        </div>
    </div>
</div>