@using Musicio.Client.Web.Components
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4">
        @Body
    </div>

    <div class="music-player px-4"><MusicPlayer/></div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Test { get; set; }
}
