@page "/playlists"

@using Musicio.Client.Playlist
@using Musicio.Client.User
@using Musicio.Client.Web.Components

@inject NavigationManager NavigationManager
@inject ISessionService SessionService
@inject IPlaylistService PlaylistService

<FormGroup>
    <Button Enabled="true" Text="Create new playlist" OnClick="@CreatePlaylist"></Button>
</FormGroup>

@if (_loading)
{
    <div class="loading">
        <div class="spinner-border" role="status"></div>
    </div>
}
else
{
    <div class="playlist-row">
        @foreach (var pl in _playlists)
        {
            <div class="playlist-column">
                <PlaylistCard Title="@pl.Title" Image="@pl.Image" PlaylistId="@pl.Id"></PlaylistCard>
            </div>
        }
    </div>
}

@code {
    private List<Core.Models.Playlist> _playlists = new List<Core.Models.Playlist>();

    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;

        if (await SessionService.CheckIfTokenIsAvailable() == false)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        /*var id = await SessionService.GetIdFromToken();

            Console.WriteLine(id);*/

        _playlists = await PlaylistService.GetUserPlaylists(2);

        StateHasChanged();

        _loading = false;
    }

    private Task CreatePlaylist()
    {
        NavigationManager.NavigateTo("/playlists/create");

        return Task.CompletedTask;
    }
}
